{% extends 'layout.html' %}
{% block page_body %}
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        AI, 단어사전 등 중앙 관리 서버 입니다.
                        
                        (이미지는 그냥 넣음 ㅎㅎㅎ)
                    </div>
                    <img src="static/media/dashboard.1ecf631135e0ea44f7ce4ef31275145e.svg" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
